<footer class="flex-container footer flex-wrap row">
    <div class="flex-container footerlink row">
        <a href="#">Buzón</a> 
    </div>
    <div class="flex-container footerlink row">
        <a href="#">Registrarse</a> 
    </div>
    <div class="flex-container footerlink row">
        <a href="#">Iniciar Sesión</a> 
    </div>
    <div class="flex-container footerlink row">
        <a href="#">Ayuda</a> 
    </div>
    <div class="flex-container footerlink row">
        <a href="#">Chat</a> 
    </div>
    <div class="flex-container footerlink row">
        <a href="#">Mapa de Sitio</a> 
    </div>
</footer>